= form_tag({controller: "user_details", action: "new"}, method: "post", class: "makers_form")
  = label_tag(:email, "Please enter your email address:") 
  = text_field_tag(:email) 
  = label_tag(:first_name, "Please enter your first_name:") 
  = text_field_tag(:first_name)
  = label_tag(:user_type, "Who are you?") 
  = check_box_tag(:entrepreneur)
  = label_tag(:pet_dog, "An entrepreneur who wants to learn to build their own prototypes") 
  = check_box_tag(:developer) 
  = label_tag(:developer, "A developer/CS grad who wants to learn Ruby, Rails and modern techniques like Agile, TDD and Version Controlling using Git") 
  = check_box_tag(:tech_industry) 
  = label_tag(:tech_industry, "A tech-industry worker who doesn’t know how to code and would like to learn")
  = check_box_tag(:regular) 
  = label_tag(:regular, "AA regular person interested in a career as a developer")
  = submit_tag("Done")
